@import url("http://fonts.cdnfonts.com/css/pokemon-solid");
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Press+Start+2P&display=swap');

* {
  margin: 0;
}

body {
  margin: 0;
  font-family: "Press Start 2P", "Pokemon Solid", "Bangers", 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./assets/images/bg2.jpg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



/* APP FONT STYLES */
h1 {
  font-family: "Pokemon Solid";
  font-size: 35px;
}

h2 {
  font-family: "Bangers";
  font-size: 35px;
}

p {
  font-family: "Press Start 2P";
  font-size: 15px;
}


/* ICON STYLES */

svg {
  font-size: 35px;
  color: black;
}

svg.header-pokeball {
  font-size: 40px;
}

svg.header-pokeball:hover {
  color: white;
}

svg.card-expand-icon {
  font-size: 25px;
}

svg.card-expand-icon:hover {
  color: red;
  cursor: cell;
}

svg.modal-close:hover {
  color: white;
}

svg.modal-lines {
  font-size: 25px;
  color: darkslategray;
}

svg.buttons-icon {
  font-size: 60px;
}

/* HEADER STYLES */
.header-container {
  position: sticky;
  top: 0;
  background: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
}

.title-container {
  display: flex;
  align-items: baseline;
}

.main-header {
  padding: 10px;
  font-size: 50px;
  color: white;
  -webkit-text-stroke: 2px black;
}

.nav-btn {
  margin: 10px;
  background-color: white;
  padding: 10px;
  font-family: "Press Start 2P";
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px darkred;
}

.nav-btn:hover {
  background-color: yellow;
}


/* POKELIST STYLES */
.pokelist-container {
  width: 65%;
  margin: auto;
  padding: 10px;
}

.search-input {
  padding: 10px;
  font-family: "Press Start 2P";
  font-size: 20px;
  width: 80%;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.results-container {
  padding: 10px;
  width: 100%;
  background-color: white;
  margin-top: 10px;
  border: 2px solid black;
  border-radius: 10px;
}


/* POKEMON CARD STYLES */
.pokemon-card-container {
  display: inline-flex;
}
.pokemon-card {
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
  margin: 5px;
}

.pokemon-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.poke-ball-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  padding: 10px;
}

.poke-ball {
  width: 140px;
  height: 140px;
  background: linear-gradient(
    to bottom,
    red,
    red 48%,
    black 48%,
    black 55%,
    white 55%
  );
  border-radius: 50%;
  border: 7px solid black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), inset 8px 5px 0 rgba(0, 0, 0, 0.2);
}

.card-name {
  margin-top: 55px;
  color: white;
  -webkit-text-stroke: 2px black;
}

.card-name:hover {
  color: red;
  cursor: cell;
}


/* MODAL STYLES */
.modal-container {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: (0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 500px;
  height: 600px;
  background-color: red;
  border: 5px solid black;
  border-radius: 10px;
  overflow-y: auto;
}

.pokedex-top {
  display: flex;
}

.big-circle-container {
  padding: 10px;
}

.big-circle {
  width: 60px;
  height: 60px;
  background-color: dodgerblue;
  border: 5px solid white;
  border-radius: 50%;
}

.three-circle-close-container {
  display: flex;
  padding: 10px;
  width: 100%;
  justify-content: space-between;
}

.three-circle-container {
  display: flex;
}

.dark-red-circle {
  width: 20px;
  height: 20px;
  background-color: darkred;
  border: 2px solid black;
  border-radius: 50%;
  margin: 3px;
}

.yellow-circle {
  width: 20px;
  height: 20px;
  background-color: yellow;
  border: 2px solid black;
  border-radius: 50%;
  margin: 3px;
}

.green-circle {
  width: 20px;
  height: 20px;
  background-color: green;
  border: 2px solid black;
  border-radius: 50%;
  margin: 3px;
}

.pokedex-screen {
  width: 85%;
  height: auto;
  background: silver;
  margin: auto;
  border: 2px solid darkslategrey;
  border-radius: 10px;
  box-shadow: 8px 8px darkslategray;
  margin-bottom: 20px;
}

.screen-top {
  display: flex;
  justify-content: center;
}

.small-red-circle {
  width: 15px;
  height: 15px;
  background-color: red;
  border: 2px solid black;
  border-radius: 50%;
  margin: 5px;
}

.screen-main {
  width: 85%;
  height: auto;
  background-color: black;
  margin: auto;
  border: 2px solid grey;
}

.image-container {
  width: 80%;
  margin: auto;
  height: auto;
}

.modal-image {
  width: 100%;
}

.id-text {
  color: white;
  text-align: left;
  padding: 5px;
}

.screen-bottom {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.big-red-circle {
  width: 25px;
  height: 25px;
  background-color: red;
  border: 2px solid black;
  border-radius: 50%;
}

.pokedex-buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.name-container {
  background-color: Chartreuse;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
}

.button-dark-red {
  width: 50px;
  height: 10px;
  background-color: darkred;
  border: 2px solid black;
  border-radius: 10px;
  margin: 5px;
}
.button-blue {
  width: 50px;
  height: 10px;
  background-color: blue;
  border: 2px solid black;
  border-radius: 10px;
  margin: 5px;
}

.pokedex-height-weight-container {
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.height-weight-text {
  color: white;
  font-size: 12px;
  background-color: black;
  padding: 12px;
  border: 2px solid darkred;
  margin: 10px;
}

.pokedex-info-container {
  display: flex;
  width: 85%;
  justify-content: center;
  margin: auto;
}

.types-container {
  border: 3px solid darkred;
  border-radius: 10px;
  margin: 5px;
  background-color: black;
}

.types-header {
  background-image: linear-gradient(darkred, red, darkred);
  padding: 10px;
}

.types-box {
  background-color: black;
  height: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
 li {
   list-style: none;
   margin: 0;
   padding: 0;
 }

.type-button {
  background-color: white;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
}

.stats-container {
  margin: 5px auto;
  background-color: chartreuse;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  text-align: left;
}

.stats-text {
  font-size: 10px;
  margin: 5px;
  text-transform: capitalize;
}

.modal-footer {
  padding: 10px;
}


/* ABOUT STYLES */
.about-modal-container {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: (0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-modal-content {
  width: 500px;
  background-color: red;
  border: 5px solid black;
  border-radius: 10px;
}

.about-modal-header {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-bottom: 3px solid black;
  padding: 10px;
}

.about-header {
  font-size: 40px;
}

.about-modal-body {
  width: 90%;
  margin: 15px auto;
  background-color: white;
  border: 3px solid black;
  border-radius: 10px;
}

.about-modal-titles {
  text-align: left;
  padding: 10px;
}

.about-modal-text {
  padding: 10px;
}

.about-link {
  padding: 5px;
  color: red;
}

.about-link:hover {
  color: blue;
}


/* FOOTER STYLES */
.footer-container {
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  width: 60%;
  margin: auto;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.footer-link {
  color: red;
}

.footer-link:hover {
  color: yellow;
}


/* SCROLLBAR STYLES */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: red;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
}


/* MOBILE RESPONSE */
@media(max-width: 539px) {
  .main-header {
    font-size: 30px;
  }

  svg.header-pokeball {
    font-size: 25px;
  }

  .pokelist-container {
    width: 80%;
  }

  .footer-container {
    width: 70%;
  }

  .about-modal-content {
    width: 60%;
  }

  .about-header {
    font-size: 30px;
  }

  .about-modal-titles {
    font-size: 25px;
  }

  .about-link {
    font-size: 10px;
  }
}

@media(max-width: 378px) {
  .main-header {
    font-size: 25px;
  }
}